*.csv
*.log
py-*
*-rml.ttl
2021-*
2022-*
yarrrml-parser
!test/resources/*csv
!dataprofile-dtypes.csv
!manifestations-create-queries.csv
!manifestations-update-queries.csv
!contributors-create-queries.csv
!contributors-update-queries.csv
